# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
.turbo/
apps/backend/generated/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
